<footer class='footer-cover'>
    <div class='casing'>
        <div class='footer'>
            <div class='footer__donate-block'>
                <img src='../../assets/icons/logo.svg' alt='Logo'>
                <div class="btn-oblong-circle">donate for volunteers</div>
            </div>
            <div class='footer__sub-block sub-block'>
                <div class="sub-block__suptext"></div>
                <form action="" class="sub-block__form">
                    <input type="text" class="sub-block__email" placeholder="Enter your email">
                    <input type="submit" class="sub-block__submit">
                </form>
            </div>
            <div class='footer__socials-block'></div>
            <div class='footer__nav-block'></div>
            <div class='footer__copy-block'></div>
        </div>
    </div>
</footer>